{
  "postgres": {
    "host": "localhost",
    "user": "postgres",
    "pass": "semaphorepass",
    "name": "postgres",
    "options": {}
  },
  "dialect": "postgres",
  "port": "5432",
  "interface": "",
  "tmp_path": "/tmp/semaphore",
  },
}